version: "3.8"

services:
  ws:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ccsds_ws
    working_dir: /home/ccsds_source/ccsds_final_project/ws/build
    restart: always
    command: ["/home/ccsds_source/ccsds_final_project/ws/build/final-project"]
    ports:
      - "5000:5000"
    networks:
      - ccsds_network
    environment:
      - MONGODB_URI=mongodb://192.168.0.100:27017
      - DOCUMENT_ROOT=/home/ccsds_source/ccsds_final_project/ws/public
      - UPLOAD_DIR=/home/ccsds_source/ccsds_final_project/ws/public/uploads
      - CSV_DIR=/home/ccsds_source/ccsds_final_project/ws/public/csv
      - DB_NAME=Parser
      - PAYLOAD_COLLECTION_NAME=PayloadSID
      - DEFAULT_STRUCTURE_FILE_PATH=uploads/default_structure.json
networks:
  ccsds_network:
    driver: bridge

